@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Saira:wght@400;600;700;800;900&display=swap');

html {
    margin: auto;
    width: 100%;
    overflow-x: hidden;
}
body {
    width: 100%;
    margin: auto;
    overflow-x: hidden;
    height: auto;
    background-color:#00ADEE
}
.logo {
    width: 8rem;
}
nav {
    background-color: #F5F5F5;
    width: 100%;
    float: right;
    right: 0;
    top: 0;
    z-index: 5;
}
nav ul li {
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Dela Gothic One';
    font-weight: normal;
    font-size: 1.5rem;
}
nav a {
    color: black;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
nav a:hover {
    color:#00ADEE;
}
.Headercontent {
    margin-top: 0.5rem;
    font-size: 2rem;
    font-family: 'Dela Gothic One';
    margin-left: 14rem;
    line-height: 3.5rem;
    padding-bottom: 1.6rem;
}
aside {
    padding-left: 1rem;
    background-color: #F5F5F5;
    float:right;
    right: 0;
    padding-top:8rem;
    top:0;
    height: 100%;
}
.japanese {
    z-index: 4;
    writing-mode: vertical-rl;
    text-orientation: upright;
    position: absolute;
    float: right;
    top: 0;
    padding-right: 1rem;
    font-family: 'Dela Gothic One';
    font-size: 18rem;
    letter-spacing: -2rem;
    color: #00ADEE;
}
.level21 {
    margin-top: 1rem;
}
.IconList {
    list-style-type: none;
    text-decoration: none;
    padding-right: 1rem;
    margin-left: 14rem; 
    margin-top: 0rem;
}
.IconList img {
    width: 3.5rem;
}
.TypeList {
    list-style-type: none;
    text-decoration: none;
    padding-right: 1rem;
    margin-left: 1rem; 
    font-family: Saira;
    font-size: 2rem;
    top: 0;
    margin-top: 0rem;
    font-weight: 700;
    padding-top: 0;
    padding-bottom: 1rem;
}
.workProjects {
    background-color: #F5F5F5;
    width: 100%;
    right: 0;
    padding-bottom: 2rem;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding-bottom: 4rem;
}
.connect {
    font-size: 1.5rem;
    font-family: 'Saira';
    margin-left: 14rem;
    font-weight: 700;
    line-height: 1rem;
}

